:root {
  --border-radius: 5px;
  --cor-fundo: #181820;
  --cor-fundo-secundaria: #21212b;
  --cor-fundo-estatisticas: #0c0c11;
  --cor-primaria: #f8f8f8;
  --cor-secundaria: #ff3232;
  --cor-secundaria-hover: #ff1616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  min-height: 100vh;
  background-color: var(--cor-fundo);
  color: var(--cor-primaria);
  font-size: 16px;
  display: flex;
  justify-content: center;
}

main {
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 5%;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

input {
  background-color: var(--cor-fundo-secundaria);
  color: var(--cor-primaria);
  font-size: 0.8em;
  font-weight: bold;
  padding: 12px;
  border-radius: var(--border-radius);
  flex: 0.85;
  border: none;
}

input:focus {
  outline: none;
}

button {
  font-size: 0.9em;
  border-radius: var(--border-radius);
  padding: 8px;
  border: none;
  flex: 0.15;
  transition: 0.3s;
}

button:hover {
  border-radius: 13px;
  cursor: pointer;
}

.botao-adicionar {
  color: var(--cor-primaria);
  border: 3px solid var(--cor-secundaria);
  background: transparent;
}

.botao-adicionar:hover {
  background-color: var(--cor-secundaria);
}

.container-tarefas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tarefa {
  background-color: var(--cor-fundo-secundaria);
  width: 100%;
  padding: 8px;
  border-left: 4px solid var(--cor-secundaria);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: width 0.5s, opacity 0.5s, border-color 0.3s;
}

.tarefa:hover {
  border-color: var(--cor-secundaria-hover);
}

.concluida {
  border-color: var(--cor-fundo-secundaria);
  width: 85%;
  opacity: 0.4;
}

.concluida p {
  text-decoration: underline #797979;
}

.tarefa p {
  font-size: 1.2em;
}

.tarefa .container-botoes {
  display: flex;
  gap: 10px;
}

.botao-remover {
  background-color: var(--cor-secundaria);
}

.botao-remover:hover {
  background-color: var(--cor-secundaria-hover);
  border-radius: 50%;
}

.botao-concluir {
  color: var(--cor-primaria);
  background-color: rgb(0, 128, 64);
}

.botao-concluir:hover {
  background-color: rgb(0, 185, 93);
}

section {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 15%;
}

.status-lista {
  text-align: center;
  border: 2px solid var(--cor-primaria);
  background-color: var(--cor-fundo-estatisticas);
  flex: 0.1;
  border-radius: var(--border-radius);
  padding: 15px;
}
