:root {
  --border-radius: 5px;
  --cor-fundo: #181820;
  --cor-fundo-secundaria: #21212b;
  --cor-input: #0c0c11;
  --cor-primaria: #f8f8f8;
  --cor-secundaria: #ff4a1d;
  --cor-secundaria-hover: #ff6854;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  min-height: 100vh;
  background-color: var(--cor-fundo);
  color: var(--cor-primaria);
  font-size: 16px;
  display: flex;
  justify-content: center;
}

main {
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-top: 5%;
}

p {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

input {
  color: var(--cor-primaria);
  background-color: var(--cor-input);
  font-size: 0.8em;
  font-weight: bold;
  padding: 1vw;
  border-radius: var(--border-radius);
  border: none;
  transition: 0.5s;
}

input:focus {
  background-color: #06060a;
  outline: none;
}

button {
  border-radius: var(--border-radius);
  padding: 1vw;
  border: none;
  flex: 0.15;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
  border-radius: 13px;
  cursor: pointer;
}

hr {
  border: 1px solid #3e3e4b;
}
